<ion-header class="top">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <!-- <ion-button class="arrow-btn" (click)="goBack()">
          <ion-icon class="arrow-icon" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </ion-button> -->

        <ion-back-button class="arrow-btn" text="" defaultHref="/birthday"></ion-back-button>

      </ion-col>
      <ion-col size="8">
        <p class="create-title">Create Account</p>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="openPage2()" expand="block" class="skip-title">Skip</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none; margin-top: 30px;">
    <ion-item>
      <ion-label class="specialty-title">HEALTH INSURANCE</ion-label>
      <ion-select [(ngModel)]="insurance" [interfaceOptions]="customPopoverOptions" interface="popover">
          <ion-select-option value="MCS Classicare">MCS Classicare</ion-select-option>
        <ion-select-option value="Triple S Advantage">Triple S Advantage</ion-select-option>
        <ion-select-option value="MMM">MMM</ion-select-option>
        <ion-select-option value="PMC">PMC</ion-select-option>
        <ion-select-option value="Humana Gold">Humana Gold</ion-select-option>
        <ion-select-option value="First Choice">First Choice</ion-select-option>
        <ion-select-option value="Molina">Molina</ion-select-option>
        <ion-select-option value="Constellation">Constellation</ion-select-option>
        <ion-select-option value="Humana Medicare Advantage">Humana Medicare Advantage</ion-select-option>
        <ion-select-option value="Humana">Humana</ion-select-option>
        <ion-select-option value="First Medical">First Medical</ion-select-option>
        <ion-select-option value="MAPFRE">MAPFRE</ion-select-option>
        <ion-select-option value="MCS">MCS</ion-select-option>
        <ion-select-option value="Triple Salud (SSS)">Triple Salud (SSS)</ion-select-option>
        <ion-select-option value="PALIG">PALIG</ion-select-option>
        <ion-select-option value="Plan de Salud Menonita (PSM)">Plan de Salud Menonita (PSM)</ion-select-option>
        <ion-select-option value="Plan de Auxilio Mutuo">Plan de Auxilio Mutuo</ion-select-option>
        <ion-select-option  value="SSS Vital">SSS Vital</ion-select-option>
        <ion-select-option value="MM Multi-Health Vital">MM Multi-Health Vital</ion-select-option>
        <ion-select-option value="Menonita Vital">Menonita Vital</ion-select-option>
        <ion-select-option value="First Medical Vital">First Medical Vital</ion-select-option>
        <ion-select-option value="Menonita Vital">Menonita Vital</ion-select-option>
        <ion-select-option value="Don't have medical insurance">Don't have medical insurance</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input class="other-type" placeholder="OTHER"></ion-input>
    </ion-item>

    <ion-button (click)="openPage()" class="next-btn" expand="block">NEXT</ion-button>

  </ion-card>
</ion-content>