<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-slide class="full-slide">
    <ion-slides pager="true">
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/directoriointro.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Find Your Doctor or Wellness Provider</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            Find MiApp doctors and wellness providers by name, region, specialty, or date of availability from your
            mobile device.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/calendariointro.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Schedule and Manage Your Appointment</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            Conviniently schedule, confirm, cancel, or reschedule your appointment from your mobile device.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/listadecitasintro.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Remote Check-in</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            On appointment day, check into your appointment from your mobile device. Remote Check-in holds your place on the doctor or wellness provider's virtual waitlist and notifies you of your estimated wait time.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="tutorial-first-card">
          <ion-img class="circle-img" src="/assets/notificationmiapp.png"></ion-img>
          <ion-card-header>
            <ion-card-title class="title-service">Intelligent Notifications</ion-card-title>
          </ion-card-header>
          <ion-card-content class="service-info">
            Receive timely, automatic notifications reminding you of your appointment and allowing you to confirm, cancel, or reschedule. On appointment day, notifications will update you on your estimated wait time.
          </ion-card-content>
          <ion-button routerLink="/signin" class="signin-btn" expand="block">START</ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-slide>
</ion-content>