<div class="main-bg">
  <p class="profile-title">Profile Picture</p>
</div>

<!-- <ion-button class="arrow-btn" (click)="goBack()">
  <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-button> -->

<ion-back-button class="arrow-btn" text="" defaultHref="/insurance"></ion-back-button>


<ion-content>
  <ion-button (click)="openCamera()" expand="block" class="avatar-btn">
    <img class="image" src="assets/camera.png">
  </ion-button>

  <ion-button (click)="openPage()" class="signin-btn" expand="block">SIGN IN</ion-button>
</ion-content>