.main-bg {
  background-image: linear-gradient(to right, #93278f, #7c55b7, #5976d1, #3392df, #29abe2);
  height: 100px;
}

.doctors-title {
  text-align: center;
  color: white;
  font-size: 15px;
  padding-top: 45px;
  font-weight: 700;
}

.arrow-btn {
  position: absolute;
  top: 50px;
  left: 20px;
  color: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.arrow {
  color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
}

.avatar-size {
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.img-doc {
  object-fit: contain;
}

.btn-position {
  position: absolute;
  top: 70px;
  left: 40px;
}

.tel {
  width: 20px;
  height: 20px;
}

.btn-color {
  --background: #696969;
  --background-activated: transparent;
}

.doctors-name {
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  color: rgb(46, 46, 46);
  margin: 0;
  margin-top: 20px;
}

.doctors-specialty {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: grey;
  margin: 0;
  margin-top: 5px;
}

.doc-reviews {
  text-align: center;
  color: #5a6ff1;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

.star {
  color: #5a6ff1;
  width: 17px;
  height: 17px;
}

.total-reviews {
  font-weight: 400;
  color: grey;
  letter-spacing: 0;
}

.confirm-btn {
  background-image: linear-gradient(to right, #575af3, #5f69f6, #6878f9, #7285fb, #7e93fc);
  box-shadow: 0 8px 6px -6px black;
  --background: transparent;
  --background-activated: transparent;
  width: 200px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 13px;
  --box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.confirm-btn {
  --border-color: transparent !important;
  box-shadow: none !important;
}

.icon {
  padding-top: 7px;
  color: #5a6ff1;
  width: 20px;
  height: 20px;
}

.user {
  width: 20px;
  height: 20px;
}

.address {
  width: 20px;
  height: 20px;
}

.reviews {
  width: 20px;
  height: 20px;
}

.title {
  border-left: 1px solid rgb(173, 173, 173);
}

.circle-color {
  --background: #6473f3;
}

.select-icon-inner {
  display: none !important;
}

.center-text {
  padding-left: 50px;
}

// .go-btn {
//   background-image: linear-gradient(to right, #575af3, #5f69f6, #6878f9, #7285fb, #7e93fc);
//   box-shadow: 0 8px 6px -6px black;
//   --background: transparent;
//   --background-activated: transparent;
//   width: 80px;
//   height: 80px;
//   position: absolute;
//   margin-left: auto;
//   margin-right: auto;
//   left: 0;
//   right: 0;
//   bottom: 10px;
//   border-radius: 50%;
//   --box-shadow: none;
// }

.go-btn {
  background-image: linear-gradient(to right, #575af3, #5f69f6, #6878f9, #7285fb, #7e93fc);
  box-shadow: 0 8px 6px -6px black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}