.main-bg {
  background-image: linear-gradient(to right, #93278f, #7c55b7, #5976d1, #3392df, #29abe2);
  height: 100px;
}

.doctors-title {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  padding-top: 45px;
  font-weight: 700;
}

.arrow-btn {
  position: absolute;
  top: 50px;
  left: 20px;
  color: rgb(255, 255, 255);
  height: 20px;
  width: 20px;
}

.arrow {
  color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
}
.doctors {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 20px;
  color: rgb(114, 114, 114);
}

.amount {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(70, 70, 70);
}

.city {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(70, 70, 70);
}

.doctors-card {
  --color: grey;
  --color-activated: grey;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: auto;
  --background: rgb(255, 255, 255);
  --background-activated: rgb(255, 255, 255);
  --box-shadow: none;
}

.doctor-img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
}

.star {
  color: #5a6ff1;
  width: 17px;
  height: 17px;
  
}

// .next-btn {
//   background-image: linear-gradient(to right, #93278f, #7c55b7, #5976d1, #3392df, #29abe2);
//   box-shadow: 0 8px 6px -6px black;
//   --background: transparent;
//   --background-activated: transparent;
//   width: 320px;
//   height: 45px;
//   margin-left: auto;
//   margin-right: auto;
//   border-radius: 20px;
//   font-weight: 700;
//   letter-spacing: 1px;
//   font-size: 13px;
//   --box-shadow: none;
//   margin-top: 90px;
//   margin-bottom: 10px;
// }
