<div class="main-bg">
  <p class="doctors-title">Doctors</p>
</div>

<!-- <ion-button class="arrow-btn" (click)="goBack()">
  <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-button> -->

<ion-back-button class="arrow-btn" text="" defaultHref="/specialty"></ion-back-button>


<ion-content>
  <!-- <p class="doctors">Unfortunately, there are no health or wellness providers who match your criteria</p> -->
  <!-- label for validation purpose ir dr. dont match criteria-->

  <p class="doctors">Found <span class="amount">150</span> doctors near <span class="city">San Juan</span></p>

  <!-- doctors profile start here -->

  <ion-card>
    <ion-button routerLink="/doctors-profile" class="doctors-card" expand="full">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/happydoctor.jpg"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>John Smith</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc1.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>Hunter Thomas</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc2.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>John Basinger</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc3.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>Michael Johnson</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc4.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>Gio Cutshall</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <!-- doctors profile ends here -->

  <p class="doctors">Found <span class="amount">150</span> options outside of your criteria</p>

  <ion-card>
    <ion-button routerLink="/doctors-profile" class="doctors-card" expand="full">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/happydoctor.jpg"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>John Smith</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc1.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>Hunter Thomas</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc2.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>John Basinger</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc3.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>Michael Johnson</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-button routerLink="/doctors-profile" expand="full" class="doctors-card">
      <ion-grid>
        <ion-row>
          <ion-col class="avatar-img" size="3">
            <ion-avatar class="doctor-img">
              <ion-img src="assets/doc4.png"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="doc-info" size="6">
            <p>Gio Cutshall</p>
            <p>Cardiologist</p>
            <p>
              <ion-icon ios="ios-pin" md="md-pin"></ion-icon>0.8 km away
            </p>
          </ion-col>
          <ion-col class="rating" size="3">
            <p class="rating-number">
              <ion-icon class="star" name="star-outline"></ion-icon>5.0
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
  </ion-card>



</ion-content>

<!-- <ion-button (click)="openPage()" class="next-btn" expand="block">NEXT</ion-button> -->