<div class="main-bg">
  <p class="doctors-title">Profile</p>
</div>

<ion-button class="arrow-btn" (click)="goBack()">
  <ion-icon style="color: white;" class="arrow" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-button>

<ion-content scrollY="false">
  <ion-card class="avatar-card">
    <ion-button expand="full" class="camera-btn">
      <ion-avatar class="doctor-img">
        <ion-img src="assets/girl.png"></ion-img>
      </ion-avatar>
    </ion-button>
  </ion-card>

  <ion-card class="info-forms">
    <ion-input class="name" placeholder="Name"></ion-input>
    <ion-input class="last-name" placeholder="Last Name"></ion-input>
    <ion-select class="last-name" style="color: black;" placeholder="Health Insurance"
      [interfaceOptions]="customPopoverOptions" interface="popover">
      <ion-select-option value="Bluecross Blue Shield">Bluecross Blue Shield</ion-select-option>
      <ion-select-option value="Constellation">Constellation</ion-select-option>
      <ion-select-option value="First Choice">First Choice</ion-select-option>
      <ion-select-option value="First Medical">First Medical</ion-select-option>
      <ion-select-option value="First Medical Vital">First Medical Vital</ion-select-option>
      <ion-select-option value="Humana">Humana</ion-select-option>
      <ion-select-option value="Humana Gold">Humana Gold</ion-select-option>
      <ion-select-option value="Humana Medicare Advantage">Humana Medicare Advantage</ion-select-option>
      <ion-select-option value="MAPFRE">MAPFRE</ion-select-option>
      <ion-select-option value="MCS">MCS</ion-select-option>
      <ion-select-option value="MCS Classicare">MCS Classicare</ion-select-option>
      <ion-select-option value="Menonita Vital">Menonita Vital</ion-select-option>
      <ion-select-option value="MM Multi-Health Vital">MM Multi-Health Vital</ion-select-option>
      <ion-select-option value="MMM">MMM</ion-select-option>
      <ion-select-option value="Molina">Molina</ion-select-option>
      <ion-select-option value="PALIG">PALIG</ion-select-option>
      <ion-select-option value="Plan de Auxilio Mutuo">Plan de Auxilio Mutuo</ion-select-option>
      <ion-select-option value="MM Multi-Health Vital">Plan de Salud Menonita (PSM)</ion-select-option>
      <ion-select-option value="PMC">PMC</ion-select-option>
      <ion-select-option value="SSS Vital">SSS Vital</ion-select-option>
      <ion-select-option value="Triple S Advantage">Triple S Advantage</ion-select-option>
      <ion-select-option value="Triple Salud (SSS)">Triple Salud (SSS)</ion-select-option>
      <ion-select-option value="Triple Salud (SSS)">No Medical Insurance</ion-select-option>
    </ion-select>
    <ion-input class="phone-number" placeholder="Phone"></ion-input>
    <ion-input class="email" placeholder="Email"></ion-input>
    <ion-input class="password" placeholder="Password"></ion-input>

  </ion-card>

  <ion-button class="next-btn" (click)="goBack()" expand="full">SAVE</ion-button>
</ion-content>