.main-bg {
  background-image: linear-gradient(to right, #93278f, #7c55b7, #5976d1, #3392df, #29abe2);
  height: 100px;
}

.doctors-title {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  padding-top: 45px;
  font-weight: 700;
}

.arrow-btn {
  position: absolute;
  top: 50px;
  left: 20px;
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.arrow {
  color: rgb(255, 255, 255);
  // height: 50px;
  // width: 50px;
}

.profile-img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.edit-btn {
  --background: transparent;
  --background-activated: transparent;
  color: rgb(167, 167, 167);
  --color-activated: rgb(167, 167, 167);
  float: right;
  font-weight: 400;
}

.profile-name {
  margin-left: 20px;
  font-size: 13px;
}

.links {
  color: rgb(167, 167, 167);
  --color-activated: rgb(167, 167, 167);
  font-weight: 400;
  --background: transparent;
  --background-activated: transparent;
  --padding-end: 320px;
  font-size: 13px;
}

.links-2 {
  color: rgb(167, 167, 167);
  --color-activated: rgb(167, 167, 167);

  font-weight: 400;
  --background: transparent;
  --background-activated: transparent;
  --padding-end: 195px;
  font-size: 13px;
}

.links-3 {
  color: rgb(167, 167, 167);
  --color-activated: rgb(167, 167, 167);

  font-weight: 400;
  --background: transparent;
  --background-activated: transparent;
  --padding-end: 290px;
  font-size: 13px;
}

.btn-logout {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: rgb(150, 150, 150);
  --background: transparent;
  --background-activated: transparent;
}