<div class="main-bg">
  <!-- <p class="profile-title">Profile Picture</p> -->
</div>

<!-- <ion-button class="arrow-btn" (click)="goBack()">
  <ion-icon class="arrow" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
</ion-button> -->

<ion-back-button class="arrow-btn" text="" defaultHref="/user-home"></ion-back-button>

<ion-card class="specialty">
  <p style="text-align: center;">Health and Wellness Providers</p>
</ion-card>

<ion-content>
  <ion-item lines="full" style="margin-top: 30px;">
    <ion-label class="specialty-title">SELECT SPECIALTY</ion-label>
    <ion-select class="specialty-input" slot="end" [interfaceOptions]="customPopoverOptions" interface="popover"
      style=" text-align: right;">
      <ion-select-option>Acupuncture</ion-select-option>
      <ion-select-option>Allergy</ion-select-option>
      <ion-select-option>Allergy and Immunology</ion-select-option>
      <ion-select-option>Pediatric Allergy and Immunology</ion-select-option>
      <ion-select-option>Anesthesia</ion-select-option>
      <ion-select-option>Audiology</ion-select-option>
      <ion-select-option>Cardiology</ion-select-option>
      <ion-select-option>Interventional Cardiology</ion-select-option>
      <ion-select-option>Pediatric Cardiology</ion-select-option>
      <ion-select-option>Head and Neck Surgery</ion-select-option>
      <ion-select-option>Back Surgery</ion-select-option>
      <ion-select-option>Burns Surgery</ion-select-option>
      <ion-select-option>General Surgery</ion-select-option>
      <ion-select-option>Mohs Micrographic Surgery</ion-select-option>
      <ion-select-option>Surgery or Peripheral Vascular Illness</ion-select-option>
      <ion-select-option>Oncological Surgery</ion-select-option>
      <ion-select-option>Oral Surgery</ion-select-option>
      <ion-select-option>Orthopedic Surgery</ion-select-option>
      <ion-select-option>Pediatric Surgery</ion-select-option>
      <ion-select-option>Plastic Surgery</ion-select-option>
      <ion-select-option>Hands Plastic Surgery</ion-select-option>
      <ion-select-option>Thoracic Surgery</ion-select-option>
      <ion-select-option>Pediatric Critical Care</ion-select-option>
      <ion-select-option>Dentist</ion-select-option>
      <ion-select-option>Pediatric Dentist</ion-select-option>
      <ion-select-option>Dermatology</ion-select-option>
      <ion-select-option>Endocrinology</ion-select-option>
      <ion-select-option>Pediatric Endocrinology</ion-select-option>
      <ion-select-option>Endodontics</ion-select-option>
      <ion-select-option>Physiatry</ion-select-option>
      <ion-select-option>Pediatric Physiatry</ion-select-option>
      <ion-select-option>Physiatry and Rehabilitation</ion-select-option>
      <ion-select-option>Spinal Cord Physiatry and Rehabilitation</ion-select-option>
      <ion-select-option>Gastroenterology</ion-select-option>
      <ion-select-option>Pediatric Gastroenterology</ion-select-option>
      <ion-select-option>General Practitioner</ion-select-option>
      <ion-select-option>Geriatrics</ion-select-option>
      <ion-select-option>Gynecology</ion-select-option>
      <ion-select-option>Oncologic Gynecology</ion-select-option>
      <ion-select-option>Glaucoma</ion-select-option>
      <ion-select-option>Hematology</ion-select-option>
      <ion-select-option>Pediatric Hematology and Oncology</ion-select-option>
      <ion-select-option>Oncology Hematology</ion-select-option>
      <ion-select-option>Laboratories</ion-select-option>
      <ion-select-option>Pain Management</ion-select-option>
      <ion-select-option>Maxilofacial</ion-select-option>
      <ion-select-option>Critical Care Medicine</ion-select-option>
      <ion-select-option>Family Medicine</ion-select-option>
      <ion-select-option>Sports Medicine</ion-select-option>
      <ion-select-option>General Medicine</ion-select-option>
      <ion-select-option>Internal Medicine</ion-select-option>
      <ion-select-option>Neonatal and Perinatal Medicine</ion-select-option>
      <ion-select-option>Nuclear Medicine</ion-select-option>
      <ion-select-option>Occupational Medicine</ion-select-option>
      <ion-select-option>Nephrology</ion-select-option>
      <ion-select-option>Pneumology</ion-select-option>
      <ion-select-option>Pediatric Pneumology</ion-select-option>
      <ion-select-option>Neurosurgery</ion-select-option>
      <ion-select-option>Neurophysiology</ion-select-option>
      <ion-select-option>Neuroophtalmology</ion-select-option>
      <ion-select-option>Neurology</ion-select-option>
      <ion-select-option>Pediatric Neurology</ion-select-option>
      <ion-select-option>Nutrition</ion-select-option>
      <ion-select-option>Obstetric and gynecology</ion-select-option>
      <ion-select-option>Pediatric Odontology</ion-select-option>
      <ion-select-option>Orthodontics</ion-select-option>
      <ion-select-option>Ophthalmology</ion-select-option>
      <ion-select-option>Ear Nose and Throat</ion-select-option>
      <ion-select-option>Oncology</ion-select-option>
      <ion-select-option>Optometry</ion-select-option>
      <ion-select-option>Orthopedics</ion-select-option>
      <ion-select-option>Pediatric Orthopedics</ion-select-option>
      <ion-select-option>Pediatry</ion-select-option>
      <ion-select-option>Periodontics</ion-select-option>
      <ion-select-option>Podiatrics</ion-select-option>
      <ion-select-option>Proctology</ion-select-option>
      <ion-select-option>Prosthodontics</ion-select-option>
      <ion-select-option>Psychology</ion-select-option>
      <ion-select-option>Psychiatric</ion-select-option>
      <ion-select-option>Pediatric Psychiatrics</ion-select-option>
      <ion-select-option>Geriatric Psychiatrics</ion-select-option>
      <ion-select-option>Chiropractic</ion-select-option>
      <ion-select-option>Radiology</ion-select-option>
      <ion-select-option>Retinology</ion-select-option>
      <ion-select-option>Physical Therapy</ion-select-option>
      <ion-select-option>Urology</ion-select-option>
      <ion-select-option>Pediatric Urology</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="specialty-title">HEALTH INSURANCE</ion-label>
    <ion-select slot="end" [(ngModel)]="insurance" [interfaceOptions]="customPopoverOptions" interface="popover">
      <ion-select-option value="Constellation">Constellation</ion-select-option>
      <ion-select-option value="First Choice">First Choice</ion-select-option>
      <ion-select-option value="First Medical Vital">First Medical Vital</ion-select-option>
      <ion-select-option value="First Medical">First Medical</ion-select-option>
      <ion-select-option value="Humana Gold">Humana Gold</ion-select-option>
      <ion-select-option value="Humana Medicare Advantage">Humana Medicare Advantage</ion-select-option>
      <ion-select-option value="Humana">Humana</ion-select-option>
      <ion-select-option value="MCS Classicare">MCS Classicare</ion-select-option>
      <ion-select-option value="MAPFRE">MAPFRE</ion-select-option>
      <ion-select-option value="MCS">MCS</ion-select-option>
      <ion-select-option value="Menonita Vital">Menonita Vital</ion-select-option>
      <ion-select-option value="Menonita Vital">Menonita Vital</ion-select-option>
      <ion-select-option value="MM Multi-Health Vital">MM Multi-Health Vital</ion-select-option>
      <ion-select-option value="MMM">MMM</ion-select-option>
      <ion-select-option value="Molina">Molina</ion-select-option>
      <ion-select-option value="PALIG">PALIG</ion-select-option>
      <ion-select-option value="Plan de Auxilio Mutuo">Plan de Auxilio Mutuo</ion-select-option>
      <ion-select-option value="Plan de Salud Menonita (PSM)">Plan de Salud Menonita (PSM)</ion-select-option>
      <ion-select-option value="PMC">PMC</ion-select-option>
      <ion-select-option value="Triple S Advantage">Triple S Advantage</ion-select-option>
      <ion-select-option value="Triple Salud (SSS)">Triple Salud (SSS)</ion-select-option>
      <ion-select-option value="SSS Vital">SSS Vital</ion-select-option>
      <ion-select-option value="Don't have medical insurance">Don't have medical insurance</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
      <ion-label class="specialty-title">CITY</ion-label>
    <ion-select class="specialty-input" slot="end" placeholder="" cancelText="Cancel" okText="Okay" [interfaceOptions]="customPopoverOptions" interface="popover">
        <ion-select-option value="Adjuntas">Adjuntas</ion-select-option>
        <ion-select-option value="Aguada">Aguada</ion-select-option>
        <ion-select-option value="Aguadilla">Aguadilla</ion-select-option>
        <ion-select-option value="Aguas Buenas">Aguas Buenas</ion-select-option>
        <ion-select-option value="Aibonito">Aibonito</ion-select-option>
        <ion-select-option value="Arecibo">Arecibo</ion-select-option>
        <ion-select-option value="Arroyo">Arroyo</ion-select-option>
        <ion-select-option value="Añasco">Añasco</ion-select-option>
        <ion-select-option value="Barceloneta">Barceloneta</ion-select-option>
        <ion-select-option value="Barranquitas">Barranquitas</ion-select-option>
        <ion-select-option value="Bayamón">Bayamón</ion-select-option>
        <ion-select-option value="Cabo Rojo">Cabo Rojo</ion-select-option>
        <ion-select-option value="Caguas">Caguas</ion-select-option>
        <ion-select-option value="Camuy">Camuy</ion-select-option>
        <ion-select-option value="Canóvanas">Canóvanas</ion-select-option>
        <ion-select-option value="Carolina">Carolina</ion-select-option>
        <ion-select-option value="Cataño">Cataño</ion-select-option>
        <ion-select-option value="Cayey">Cayey</ion-select-option>
        <ion-select-option value="Ceiba">Ceiba</ion-select-option>
        <ion-select-option value="Ciales">Ciales</ion-select-option>
        <ion-select-option value="Cidra">Cidra</ion-select-option>
        <ion-select-option value="Coamo">Coamo</ion-select-option>
        <ion-select-option value="Comerío">Comerío</ion-select-option>
        <ion-select-option value="Corozal">Corozal</ion-select-option>
        <ion-select-option value="Culebra">Culebra</ion-select-option>
        <ion-select-option value="Dorado">Dorado</ion-select-option>
        <ion-select-option value="Fajardo">Fajardo</ion-select-option>
        <ion-select-option value="Florida">Florida</ion-select-option>
        <ion-select-option value="Guayama">Guayama</ion-select-option>
        <ion-select-option value="Guayanilla">Guayanilla</ion-select-option>
        <ion-select-option value="Guaynabo">Guaynabo</ion-select-option>
        <ion-select-option value="Gurabo">Gurabo</ion-select-option>
        <ion-select-option value="Guánica">Guánica</ion-select-option>
        <ion-select-option value="Hatillo">Hatillo</ion-select-option>
        <ion-select-option value="Hormigueros">Hormigueros</ion-select-option>
        <ion-select-option value="Humacao">Humacao</ion-select-option>
        <ion-select-option value="Isabella">Isabella</ion-select-option>
        <ion-select-option value="Jayuya">Jayuya</ion-select-option>
        <ion-select-option value="Juana Díaz">Juana Díaz</ion-select-option>
        <ion-select-option value="Juncos">Juncos</ion-select-option>
        <ion-select-option value="Lajas">Lajas</ion-select-option>
        <ion-select-option value="Lares">Lares</ion-select-option>
        <ion-select-option value="Las Marías">Las Marías</ion-select-option>
        <ion-select-option value="Las Piedras">Las Piedras</ion-select-option>
        <ion-select-option value="Loíza">Loíza</ion-select-option>
        <ion-select-option value="Luquillo">Luquillo</ion-select-option>
        <ion-select-option value="Manatí">Manatí</ion-select-option>
        <ion-select-option value="Maricao">Maricao</ion-select-option>
        <ion-select-option value="Maunabo">Maunabo</ion-select-option>
        <ion-select-option value="Mayagüez">Mayagüez</ion-select-option>
        <ion-select-option value="Moca">Moca</ion-select-option>
        <ion-select-option value="Morovis">Morovis</ion-select-option>
        <ion-select-option value="Naguabo">Naguabo</ion-select-option>
        <ion-select-option value="Naranjito">Naranjito</ion-select-option>
        <ion-select-option value="Orocovis">Orocovis</ion-select-option>
        <ion-select-option value="Patillas">Patillas</ion-select-option>
        <ion-select-option value="Peñuelas">Peñuelas</ion-select-option>
        <ion-select-option value="Ponce">Ponce</ion-select-option>
        <ion-select-option value="Quebradillas">Quebradillas</ion-select-option>
        <ion-select-option value="Rincón">Rincón</ion-select-option>
        <ion-select-option value="Río Grande">Río Grande</ion-select-option>
        <ion-select-option value="Sabana Grande">Sabana Grande</ion-select-option>
        <ion-select-option value="Salinas">Salinas</ion-select-option>
        <ion-select-option value="San Germán">San Germán</ion-select-option>
        <ion-select-option value="San Juan">San Juan</ion-select-option>
        <ion-select-option value="San Lorenzo">San Lorenzo</ion-select-option>
        <ion-select-option value="San Sebastián">San Sebastián</ion-select-option>
        <ion-select-option value="Santa Isabel">Santa Isabel</ion-select-option>
        <ion-select-option value="Toa Alta">Toa Alta</ion-select-option>
        <ion-select-option value="Toa Baja">Toa Baja</ion-select-option>
        <ion-select-option value="Trujillo Alto">Trujillo Alto</ion-select-option>
        <ion-select-option value="Utuado">Utuado</ion-select-option>
        <ion-select-option value="Vega Alta">Vega Alta</ion-select-option>
        <ion-select-option value="Vega Baja">Vega Baja</ion-select-option>
        <ion-select-option value="Vieques">Vieques</ion-select-option>
        <ion-select-option value="Villalba">Villalba</ion-select-option>
        <ion-select-option value="Yabucoa">Yabucoa</ion-select-option>
        <ion-select-option value="Yauco">Yauco</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-item lines="full">
    <ion-icon style="font-size: 15px" slot="start" ios="ios-search" md="md-search"></ion-icon>
    <ion-input class="search-input" type="text" placeholder="ZIP CODE"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-icon style="font-size: 15px" slot="start" ios="ios-person" md="md-person"></ion-icon>
    <ion-label class="specialty-title">DOCTOR'S NAME</ion-label>
    <ion-input slot="end" style="width: 100%; text-align: right;" class="search-input" type="text" placeholder=""></ion-input>
  </ion-item>
  <!-- <ion-searchbar class="search-bar" placeholder="ZIP CODE OR CITY"></ion-searchbar> -->

  <ion-button routerLink="/doctors" class="next-btn" expand="block">NEXT</ion-button>

</ion-content>